<div class="topnav">
    <ul class="navmenu">
        <li class="navitem"><div class="inactive"><a href="/analyticstrend">Analytics</a></div></li>
        <li class="navitem"><a class="active">Manage Users</a></li>
        <li class="navitem"><div class="inactive"><a href="/manageusers/editprofile">Edit Profile</a></div></li>
        <li class="navitem" id="logo"><img src="static/images/KudosLogo.png" width="" height="50px"></li>
    </ul>
</div>
<div class="arrow-down" style="margin-left:310px;"></div>
<div class="menu" id="usermenu">
    <div class="menutitle">Active Users</div>
    <hr>
    <table>
        <col width="400">
        <col width="400">
        <col width="120">
        <col width="120">
        <col width="200">
        <col width="200">
        <tr id="headerRow">
            <th>Email</th>
            <th>Name</th>
            <th class="centeredCol">Awards</th>
            <th class="centeredCol">Admin</th>
            <th></th>
            <th></th>
        </tr>

<!----------------------------------------------------------------------------------------------------------->
<!--Section to view user records, and update/delete. -------------------------------------------------------->
        {{#each user}}
        <tr class="dataRow">
            <td class="datacell">{{email}}</td>
            <td class="datacell">{{first_name}} {{last_name}}</td>
            <td class="awardcell">{{awards}}</td>
            <td class="admincell">
                {{#if admin}}
                <img src="static/images/Checked.png" width="" height="25px">
                {{else}}
                <img src="static/images/Unchecked.png" width="" height="25px">
                {{/if}}
            </td>
            <td class="buttoncell"><a href="./manageusers/edituser/{{this.user_id}}"><button class="edit" type="button">Edit</button></td></a>
            <td class="buttoncell"><button onclick="deleteEntity({{this.user_id}}, '/manageusers/')" class="delete" type="button">Delete</button></td>
        </tr>    
        {{/each}}
    </table>
</div>